{{message}}
<h1>All Meetings</h1>
<table border="1">
<tr>
<th>ID</th>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Address</th>
<th>Date</th>
<th>City</th>
<th>Delete</th>
</tr>


<tr *ngFor="let meeting of meetings">
<td>{{meeting.m_id}}</td>
<td>{{meeting.f_name}}</td>
<td>{{meeting.l_name}}</td>
<td>{{meeting.email}}</td>
<td>{{meeting.address}}</td>
<td>{{meeting.date|date:'dd/MM/yy'}}</td>
<td>{{meeting.city}}</td>
<td>{{meeting.time}}</td>
<td><button (click)="deleteMeeting(meeting.m_id)">Delete</button></td>
<td><button routerLink="/edit_meeting/{{meeting.m_id}}">Edit</button></td>  
</tr>
</table>

